/* Basic reset and styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #000000; 
}

header {
    background-color: #461212; 
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
   font-family:'Franklin Gothic Medium';
    font-size:5em
}

/* Profile Image */
.profile-image {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.profile-image img {
    width: 300px; 
    height: auto;
    border-radius: 50%; 
    border: 7px solid #000000;
}

/* Sections */
section {
    background: #6e4d4d;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Headings style */
h2 {
    border-bottom: 2px solid #f8f1f1;
    padding-bottom: 10px;
}

/* Lists */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Contact info */
.contact p {
    font-size: 1.1em;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 40px;
}